---
import FooterLink from "./FooterLink.astro";
const today = new Date();
const year = "2020";
const name = "Wladimir Moya";
const nickName = "@wladimov";
const separator = "•";
const years = `${year} - ${today.getFullYear()}`;
---

<footer class="p-8 text-center">
  <section>
    <FooterLink href="https://github.com/wladimov" target="_blank"
      >GitHub</FooterLink
    >
    <FooterLink href="https://twitter.com/wladimov" target="_blank"
      >Twitter</FooterLink
    >
    <FooterLink href="https://linkedin.com/in/wladimov" target="_blank"
      >Linkedin</FooterLink
    >
  </section>
  <section>
    <p class="p">
      {years} {separator}
      Built with
	  <svg
        class="icon icon-heart"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
    	>
		<title>love</title>
		<path
			d="M256 448l-30.164-27.211C118.718 322.442 48 258.61 48 179.095 48 114.221 97.918 64 162.4 64c36.399 0 70.717 16.742 93.6 43.947C278.882 80.742 313.199 64 349.6 64 414.082 64 464 114.221 464 179.095c0 79.516-70.719 143.348-177.836 241.694L256 448z"
        ></path>
      </svg> by {name} {nickName}
    </p>
  </section>
</footer>
<style>
	footer {
		padding: 32px;
		text-align: center;
	}
	section p {
		margin-top: 16px;
		color: #4b5563;
	}
	.p {
		font-size: 14px;
	}
	.icon-heart {
		display: inline-block;
		animation: 3s ease-in-out 0s infinite normal none running heartbeat;
	}
	svg {
		width: 1em;
		height: 1em;
		margin: -0.125em 0.125em;
		fill: #1b99ff;
	}
	@keyframes heartbeat {
		0%, 50%, 100% {
			transform: scale(1);
		}
		5% {
			transform: scale(1.25);
		}
		10% {
			transform: scale(1.05);
		}
		15% {
			transform: scale(1.25);
		}
	}

</style>